* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.header-title {
    text-transform: uppercase;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    position: fixed;
    padding: 20px 0;
    background: #66326c;
    color: #ffffff;
}
.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: fixed;
    background: #66326c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.menu {
    position: fixed;
    top: 140px;
    width: 100%;
    display: flex;
}
.menu-item {
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    border-top: solid 10px #FFFFFF00
}
.menu-item__active {
    border-top: solid 10px #66326cAA
}
.main {
    padding-top: 250px;
    height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.form-input  {
    height: 300px;
    width: 300px;
    opacity: 0;
    cursor: pointer;
}
.form-input__overlay {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #66326c;
    left: 0;
    top: 0;
    content: "";
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    user-select: none;
    transition: all 0.5s;
}
.form-input__wrapper:hover .form-input__overlay {
    background-color: #66326cF0;
    top: 5px;
    left: 5px;
    width: 290px;
    height: 290px;
}
.form-input__wrapper {
    position: relative;
}
.form-input__icon {
    height: 200px;
    min-width: 200px;
    transition: all 0.5s;
}
.form-input__wrapper:hover .form-input__icon {
    height: 190px;
    min-width: 190px;
}
#submit-input-wrapper {
    display: none;
}
#settings-input-wrapper {
    display: none;
}
.form-input__wrapper-active {
    display: block !important;
}
.form-input__tip {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.5s;
    opacity: 0;
}
.form-input__wrapper:hover .form-input__tip {
    opacity: 1;
    bottom: 30px;
}
.tutorial-scroll {
    max-height: calc(100vh - 300px);
    width: 100%;
}
.tutorial-container {
    width: 100%;
    max-width: 700px;
    padding: 10px 0;
    margin: 0 auto;
}
.tutorial-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.tutorial-image {
    max-width: 700px;
}
.tutorial-subheader {
    width: 100%;
}
.tutprial-paragraph {
    width: 100%;
}
.advanced-settings {
    width: 100vw;
    max-width: 700px;
    position: absolute;
    z-index: 2;
    background: #FFFFFF;
    border: 1px solid #66326cAA;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.advanced-settings__hidden {
    display: none!important;
}

.advanced-settings__modalWrapper {
    position: relative;
    width: 100%;
}

.advanced-settings__close {
    position: absolute;
    top: -10px;
    right: -11px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

.advanced-settings__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: #00000099;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-text__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
}
.form-input-text__label {
    width: 100px;
    text-align: right;
}

.form-input-text {
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #66326c;
    border-radius: 4px;
}

.form-input-text:focus {
    border-color: #66326c;
    background: #66326c11;
    outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
{
    display: none;
}

