<div class="form-input-text__wrapper">
    <div class="form-input-text__label">Words count</div>
    <input name="word_count" value=80 type="number" class="form-input-text">
</div>
<div class="form-input-text__wrapper">
    <div class="form-input-text__label">Height</div>
    <input name="height" value=1000 type="number" class="form-input-text">
</div>
<div class="form-input-text__wrapper">
    <div class="form-input-text__label">Width</div>
    <input name="width" value=1000 type="number" class="form-input-text">
</div>