<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Telegram Wordcloud</title>
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
</head>
<body>
<header class="header">
    <h1 class="header-title">Turn your telegram chat into a wordcloud &#127785;&#65039;</h1>
</header>