{% include "./header.html" %} 

<main >
    <nav class="menu">
        <a class="menu-item menu-item__active" href="/">Uploading</a>
        <a class="menu-item" href="/tutorial">Tutorial</a>
    </nav>
    <div class="main">
    <form method="POST" action="/uploadFile/" enctype="multipart/form-data" class="form">
        <div class="form-input__wrapper" id="upload-input-wrapper">
            <input class="form-input" onchange="setRunVisible()" type="file" id="file-input" name="file">
            <div class="form-input__overlay" id="upload-input-overlay">
                {% load static %}
                <img class="form-input__icon" src="{% static 'images/upload_icon.svg' %}" alt="">
            </div>
            <div class="form-input__tip">Upload chat</div>
        </div>
        <div class="form-input__wrapper" id="submit-input-wrapper">
            <input class="form-input" type="submit" value="submit">
            <div class="form-input__overlay">
                {% load static %}
                <img class="form-input__icon" src="{% static 'images/run_icon.svg' %}" alt="">
            </div>
            <div class="form-input__tip">Run processing</div>
        </div>
    </form>
    </div>
</main>
{% include "./footer.html" %} 